@page
@model MERCADO2.UI.Pages.Proveedores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].NombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].TelefonoProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].DireccionProveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proveedor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionProveedor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProveedorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProveedorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProveedorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
